@import-normalize;

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --Black: #151515;
  --Dark-Grey: #242424;
  --Green: #4ee1a0;
  --Grey: #d9d9d9;
  --White: #ffffff;
  --Font-Medium: 'SpaceGrotesk-Medium';
  --Font-Bold: 'SpaceGrotesk-Bold';
  --self-image-w: 540px;
  --self-image-h: 720px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;

  background-image: url('./assets/pattern-rings.svg'),
    url('./assets/image-profile-desktop.jpeg'),
    url('./assets/pattern-rings.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, var(--self-image-w) var(--self-image-h), auto;
  background-position-x: -100px, calc(1440px - var(--self-image-w) - 165px),
    1149px;
  background-position-y: 140px, -10px, 1077px;

  background-color: var(--Black);
}

.contact-link {
  text-decoration: none;
  color: var(--White);
}

.contact-link:visited {
  color: var(--White);
}

.contact-link:hover {
  color: var(--Green);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--Font-Bold);
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
  text-align: left;
  color: var(--White);
}

.icons {
  display: inline-flex;
  gap: 2rem;
  margin-right: 30px;
}

main {
  margin-top: -33px;
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.about {
  margin-top: 94px;
}

.about h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  text-align: left;
  margin-bottom: 43px;
}

.about-underline {
  display: inline-flex;
  border-bottom: solid 6px var(--Green);
}

.about p {
  font-size: 18px;
  line-height: 28px;
  font-family: var(--Font-Medium);
  color: var(--Grey);
  text-align: left;
}

.about h3 {
  font-size: 16;
  line-height: 26px;
  letter-spacing: 2.29px;
  font-family: var(--Font-Bold);
  text-align: left;
  text-transform: uppercase;
  margin-top: 66px;
}

.about-underline-contact {
  display: inline-flex;
  border-bottom: solid 3px var(--Green);
  margin-bottom: 100px;
}

.techs {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  text-align: left;
  margin: 0;
}

.line {
  width: 100%;
}

.line-hidden {
  display: none;
}

.icons-container {
  margin-top: 72px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icons-container-item {
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.projects-header h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  text-align: left;
}

.projects-header p {
  border-bottom: solid 3px var(--Green);
  padding-bottom: 0.5rem;
}

.projects-header a {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  font-family: var(--Font-Medium);
  color: var(--White);
  text-transform: uppercase;
}

.projects-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.cards {
  width: 540px;
  height: 487px;
  margin-bottom: 69px;
}

.projects-cards img {
  width: 540px;
  height: 400px;
}

.projects-cards h4 {
  text-transform: uppercase;
  font-family: var(--Font-Bold);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  margin-top: 0px;
}

.card-tech {
  display: flex;
  flex-direction: rows;
  justify-content: left;
  align-items: center;
}

.card-tech ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.card-tech h5 {
  text-transform: uppercase;
  font-family: var(--Font-Medium);
  font-size: 16px;
  line-height: 28px;
  color: var(--Grey);
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

.text-responsive {
  display: none;
}

.contact-container {
  max-width: 1440px;
  padding: 0 165px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--Dark-Grey);
  background-image: url('./assets/pattern-rings.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: -205px;
  background-position-y: 327px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 84px;
  gap: 220px;
  padding-bottom: 92px;
}

.contact-description {
  flex-basis: 50%;
  color: var(--White);
}

.contact-description h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  margin: 0;
  margin-bottom: 36px;
}

.contact-description p {
  font-size: 18px;
  line-height: 28px;
  font-family: var(--Font-Medium);
  margin: 0;
}

.form-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container input {
  width: 100%;
  color: var(--White);
  font-size: 16px;
  font-family: var(--Font-Medium);
  line-height: 26px;
  letter-spacing: -0.22px;
  border: none;
  border-bottom: 2px solid var(--White);
  background-color: var(--Dark-Grey);
  padding: 16px;
  margin-bottom: 32px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--Green);
}

.form-container textarea {
  width: 100%;
  color: var(--White);
  font-size: 16px;
  font-family: var(--Font-Medium);
  line-height: 26px;
  letter-spacing: -0.22px;
  border: none;
  border-bottom: 2px solid var(--White);
  background-color: var(--Dark-Grey);
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 32px;
  resize: none;
}

textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--Green);
}

.form-container button {
  align-self: flex-end;
  border: none;
  background-color: var(--Dark-Grey);
  color: var(--White);
  border-bottom: 2px solid var(--Green);
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  font-family: var(--Font-Bold);
}

button:hover,
button:focus {
  color: var(--Green);
}

footer {
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;
  background-color: var(--Dark-Grey);
}

footer-container {
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.footer-container hr {
  margin: 0;
}

.link-hover:hover {
  color: var(--Green);
}

.error {
  color: red;
  align-self: flex-end;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.17px;
  margin: -25px 0 15px 0;
  margin-top: -22px;
  font-family: var(--Font-Medium);
}

/* Project image hover */
.cards-image {
  position: relative;
  width: 100%;
}

.image-project {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cards-image:hover .image-project {
  opacity: 0.3;
}

.cards-image:hover .image-hover {
  opacity: 1;
}

.text-hover {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.text-hover h3 {
  color: var(--White);
  font-size: 16px;
  padding: 16px 32px;
  font-family: var(--Font-Bold);
  line-height: 26px;
  letter-spacing: 2.29px;
}

.text-hover a {
  border-bottom: solid 3px var(--Green);
  padding-bottom: 10px;
}

.text-hover a:hover {
  color: var(--Green);
}

/* End project image hover */

/* TABLET */
@media only screen and (max-width: 768px) {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;

    background-image: url('./assets/pattern-rings.svg'),
      url('./assets/image-profile-desktop.jpeg'),
      url('./assets/pattern-rings.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, 45vw 600px, auto;
    background-position-x: -342px, right, 70vw;
    background-position-y: 100px, -10px, 1347px;

    background-color: var(--Black);
  }

  .contact-container {
    max-width: 768px;
    padding: 0 32px;
  }

  footer {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-container {
    margin: 0;
    padding-top: 29px;
  }

  .about {
    margin-top: 18px;
    width: 60vw;
  }

  .about br {
    display: none;
  }

  .about h2 {
    font-size: 72px;
  }

  .techs,
  .projects-header h2,
  .contact-description h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }

  .projects-header {
    margin: 0;
  }

  .projects-cards {
    gap: 1rem;
  }

  .projects-cards {
    justify-content: space-around;
  }

  .cards {
    max-width: 342px;
    height: 398px;
    width: auto;
    flex-basis: 42vw;
  }

  .cards img {
    width: 100%;
    height: 253px;
  }

  .cards-image:hover .image-project {
    opacity: 1;
  }

  .cards-image:hover .image-hover {
    opacity: 1;
  }

  .image-hover {
    display: none;
  }

  .text-responsive {
    display: inline-flex;
    gap: 30px;
  }

  .text-responsive a {
    font-family: var(--Font-Bold);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    border-bottom: solid 2px var(--Green);
    padding-bottom: 10px;
  }

  .contact {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    gap: 48px;
  }

  .contact-description {
    text-align: center;
  }

  .header-container {
    margin: 0;
    padding: 0;
  }
}

/* MOBILE */
@media only screen and (max-width: 430px) {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .line-hidden {
    display: inline;
    width: 100%;
  }

  .container {
    max-width: 430px;
    margin: 0 auto;

    background-image: url('./assets/pattern-rings.svg'),
      url('./assets/image-profile-desktop.jpeg'),
      url('./assets/pattern-rings.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, 65vw 383px, auto;
    background-position-x: -400px, center, 173px;
    background-position-y: 140px, -10px, 1400px;

    background-color: var(--Black);
  }

  .contact-container {
    max-width: 430px;
    padding: 0 32px;
  }

  footer {
    max-width: 430px;
    padding: 0 32px;
  }

  .about {
    width: 100%;
    margin-top: 320px;
  }

  .about h2 {
    text-align: center;
    margin-bottom: 43px;
  }

  .about p {
    text-align: center;
  }

  .about br {
    display: none;
  }

  .techs,
  .projects-header h2,
  .about h2,
  contact-description h2 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
  }

  .about-underline-contact {
    display: flex;
    border: none;
    justify-content: center;
    margin-bottom: 80px;
  }

  .about-underline-contact a {
    padding-bottom: 10px;
    border-bottom: solid 2px var(--Green);
  }

  .icons-container {
    margin: 18px 0;
    gap: 1.5rem;
  }

  .projects-header {
    margin-top: 48px;
  }

  .cards {
    height: auto;
    width: 343px;
    margin-bottom: 40px;
  }

  .cards img {
    width: 343px;
    height: 243px;
  }

  .cards h4 {
    margin-top: 12px;
  }

  .contact-container {
    background-image: url('./assets/pattern-rings.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: -359px;
    background-position-y: 650px;
  }

  .contact {
    padding-top: 60px;
    width: 80vw;
  }

  .contact-description p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .form-container {
    margin-top: 24px;
  }

  .form-container input {
    font-size: 16px;
  }

  .form-container textarea {
    font-size: 16px;
  }

  footer {
    padding-bottom: 24px;
  }

  .contact-link:visited {
    color: var(--White);
  }

  .icons {
    margin: 0;
  }
}
