@import-normalize;

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --Black: #151515;
  --Dark-Grey: #242424;
  --Green: #4ee1a0;
  --Grey: #d9d9d9;
  --White: #ffffff;
  --Font-Medium: 'SpaceGrotesk-Medium';
  --Font-Bold: 'SpaceGrotesk-Bold';
  --self-image-w: 540px;
  --self-image-h: 720px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  background-image: url('./assets/pattern-rings.svg'),
    url('./assets/image-profile-desktop.jpeg'),
    url('./assets/pattern-rings.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, var(--self-image-w) var(--self-image-h), auto;
  background-position-x: -100px, calc(1440px - var(--self-image-w) - 165px),
    1149px;
  background-position-y: 140px, -10px, 1077px;

  background-color: var(--Black);
}

.contact-link {
  text-decoration: none;
  color: var(--White);
}

.contact-link:visited {
  color: var(--White);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 165px;
}

.title {
  font-family: var(--Font-Bold);
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
  text-align: left;
  color: var(--White);
}

.icons {
  display: inline-flex;
  gap: 2rem;
  margin-right: 30px;
}

main {
  margin: -33px 165px;
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.about {
  margin-top: 94px;
}

.about h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  font-weight: 700;
  text-align: left;
  margin-bottom: 43px;
}

.about-underline {
  display: inline-flex;
  border-bottom: solid 6px var(--Green);
}

.about p {
  font-size: 18px;
  line-height: 28px;
  font-family: var(--Font-Medium);
  font-weight: 400;
  color: var(--Grey);
  text-align: left;
}

.about h3 {
  font-size: 16;
  line-height: 26px;
  letter-spacing: 2.29px;
  font-family: var(--Font-Bold);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-top: 66px;
}

.about-underline-contact {
  display: inline-flex;
  border-bottom: solid 3px var(--Green);
  margin-bottom: 100px;
}

.techs {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.line {
  width: 1110px;
}

.icons-container {
  margin-top: 72px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icons-container-item {
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.projects-header p {
  border-bottom: solid 3px var(--Green);
  padding-bottom: 0.5rem;
}

.projects-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.cards {
  width: 540px;
  height: 487px;
  margin-bottom: 69px;
}

.projects-cards img {
  width: 540px;
  height: 400px;
}

.projects-cards h4 {
  text-transform: uppercase;
  font-family: var(--Font-Bold);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  margin-top: 0px;
}

.card-tech {
  display: flex;
  flex-direction: rows;
  justify-content: left;
  align-items: center;
}

.card-tech ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.card-tech h5 {
  text-transform: uppercase;
  font-family: var(--Font-Medium);
  font-size: 16px;
  line-height: 28px;
  color: var(--Grey);
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

.contact-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  background-color: var(--Dark-Grey);
  display: flex;

  background-image: url('./assets/pattern-rings.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: -205px;
  background-position-y: 327px;
}

.contact {
  margin: 0 165px;
  margin-top: 84px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 327px;
  width: 1110px;
}

.contact-description {
  width: 445px;
  color: var(--White);
}

.contact-description h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  font-family: var(--Font-Bold);
  margin: 0;
  margin-bottom: 36px;
}

.contact-description p {
  font-size: 18px;
  line-height: 28px;
  font-family: var(--Font-Medium);
  margin: 0;
}

.form-container {
  width: 445px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container input {
  width: 100%;
  color: var(--White);
  font-size: 16px;
  font-family: var(--Font-Medium);
  line-height: 26px;
  letter-spacing: -0.22px;
  border: none;
  border-bottom: 2px solid var(--White);
  background-color: var(--Dark-Grey);
  padding: 16px;
  margin-bottom: 32px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--Green);
}

.form-container textarea {
  width: 100%;
  color: var(--White);
  font-size: 16px;
  font-family: var(--Font-Medium);
  line-height: 26px;
  letter-spacing: -0.22px;
  border: none;
  border-bottom: 2px solid var(--White);
  background-color: var(--Dark-Grey);
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 32px;
  resize: none;
}

textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--Green);
}

.form-container button {
  align-self: flex-end;
  border: none;
  background-color: var(--Dark-Grey);
  color: var(--White);
  border-bottom: 2px solid var(--Green);
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  font-family: var(--Font-Bold);
}

button:hover,
button:focus {
  color: var(--Green);
}

footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  background-color: var(--Dark-Grey);
}

footer-container {
  margin: 0 165px;
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.footer-container hr {
  margin: 0 165px;
}

.link-hover:hover {
  color: var(--Green);
}

.error {
  color: red;
  align-self: flex-end;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.17px;
  margin: -25px 0 15px 0;
  margin-top: -22px;
  font-family: var(--Font-Medium);
}

/* Project image hover */
.cards-image {
  position: relative;
  width: 100%;
}

.image-project {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cards-image:hover .image-project {
  opacity: 0.3;
}

.cards-image:hover .image-hover {
  opacity: 1;
}

.text-hover {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.text-hover h3 {
  color: var(--White);
  font-size: 16px;
  padding: 16px 32px;
  font-family: var(--Font-Bold);
  line-height: 26px;
  letter-spacing: 2.29px;
}

.text-hover a {
  border-bottom: solid 3px var(--Green);
  padding-bottom: 10px;
}

.text-hover a:hover {
  color: var(--Green);
}

/* End project image hover */
